<div class="relative w-full">
  <div class="header flex-row">
    <div class="relative min-h-[90px] w-full header-top">
      <div class="absolute">
        <video autoplay loop muted >
          <source [src]="srcVideoHeader" type="video/mp4" >
        </video>
      </div>
      <div class="relative flex px-[161px] h-full">
        <div class="p-2 flex-2">
          <img class="w-[229px] h-[75px]" src="./assets/images/logos/logo.png">
        </div>
        <div class="p-2 flex-3 text-[#4c9bb6] font-bold text-[16px] flex items-center h-[90px]">
          <div>
            THẾ GIỚI CASINO TRONG TAY BẠN
          </div>
        </div>
        <div class="flex-7 w-full flex items-center justify-end">
          <div class="flex">
            <button pButton pRipple type="button" label="ĐĂNG NHẬP" class="p-button-rounded button-header bg-button-header"></button>
            <button pButton pRipple type="button" label="ĐĂNG KÝ" class="p-button-rounded button-header bg-button-header mx-2"></button>
            <button pButton pRipple type="button" label="CHƠI THỬ" class="p-button-rounded button-header bg-button-header mr-2"></button>
          </div>
          <div class="flex">
            <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded border-0 bg-button-header"></button>
            <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded border-0 bg-button-header ml-2"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-bar min-h-[44px]">
    <ul class="flex justify-center h-[44px]">
      <li *ngFor="let menu of listMenu, let i = index" class="relative w-fit h-full px-2 flex items-center hover:bg-[#ff955e] group text-white">
        <a href="#">
          {{menu.name}}
        </a>
        <div class="absolute hidden group-hover:block top-[100%] left-1/2 transform -translate-x-1/2 w-auto z-10">
          <ol class="min-w-full border-[1px] border-[#32b4e3]">
            <li *ngFor="let child of menu.children, let i = index"
                class="w-full leading-[30px] text-[12px] px-[15px] border-[#32b4e3] flex justify-start bg-[#010d23] text-white hover:bg-[#2d7699] cursor-pointer whitespace-nowrap overflow-hidden text-ellipsis"
            >
              {{child.name}}
            </li>
          </ol>
        </div>
      </li>
    </ul>
  </div>

  <div class="h-[34px] bg-[#000]">
    title
  </div>
  <!--slide-->
  <div>
    <div>
      <p-carousel [value]="carousels" styleClass="custom-carousel"
                  [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="2000" [responsiveOptions]="responsiveOptions"
                  [showNavigators]="false"
      >
        <ng-template let-product pTemplate="item">
          <p-image [src]="product" alt="Image"></p-image>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <!--  body-->
  <div class="w-full flex justify-center">
    <div class="w-[80%]">
      <!--  tinh nang vuot troi-->
      <div class="outstanding">
        <h4 class="">NHỮNG TÍNH NĂNG VƯỢT TRỘI CỦA SHBET</h4>
      </div>
      <div>
        <ul class="flex m-0 p-0">
          <li class="w-1/4 p-[10px 25px] text-[14px] text-[#000] border-r-[1px] border-[#357e9f] flex items-center justify-between"
              *ngFor="let outstanding of outstandings; let i = index; let last = last"
          >
            <div class="img-outstanding inline-block w-20 h-20">
              <img src="/assets/images/outstanding/outstanding1.png">
            </div>
            <div>
              <p>
                {{outstanding.title}}
              </p>
              <p>
                {{outstanding.description}}
              </p>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>
