.nav-bar {
  background: linear-gradient(90deg, #fff 0%, #4c9bb6 13.05%, #4c9bb6 50.1%, #4c9bb6 86.93%, #fff 100%);;
}

.header {
  background: linear-gradient(to top, #154283, #0f305b);
}

.bg-button-header{
  background: linear-gradient(to top, #357e9f, #6bb0c8);
}

.button-header {
  border: none;
  width: 130px;
  height: 35px;
  font-size: 14px;
}

.button-header:hover {
  background: linear-gradient(to top, #ff5d08, #ff955e);;
}

.class-footer {
 background: linear-gradient(180deg, #fff -8.86%, #f8fdff 57.68%, #6bb0c8 132.73%);
}

//.p-carousel-indicator .p-link{
//  background-color: red;
//  border-radius: 100%;
//  width: 10px;
//  height: 10px;
//}
//
//.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
//  background-color: red;
//  border-radius: 100%;
//  width: 10px;
//  height: 10px;
//  background-color: #3B82F6;
//}

.header-part {
  height: 81px;
  margin: 30px auto;
  color: #337c9d;
  font-family: roboto;
  font-size: 28px;
  font-weight: 900;
  line-height: 81px;
  text-align: center;
  background: url("/assets/images/outstanding/outstanding.png") no-repeat center;
  text-transform: uppercase;
}

.img-outstanding-container {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.img-outstanding {
   position: absolute;
   width: 100%;
   height: 200%;
   background-size: 100% auto;
   transition: transform 0s;
}
.outstanding-child:hover .img-outstanding {
  transform: translateY(-50%);
}

.product-li {
  background: url(/assets/images/product/background-product.png) no-repeat 50%;
  //width: 157px;
  border: 2px solid #cff3ff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 0px 0px #125c7e;
}

.active {
  width: 411px !important;
  padding: 16px;
  transition: width 1s;
  overflow: visible;
}

.title-product {
  margin: 0;
  color: #337c9d;
  font-size: 21px;
  font-family: Roboto;
  font-weight: 900;
}

.sub-title-product {
  padding: 4px;
  color: #1f6d70;
  font-size: 10.256px;
  font-weight: 500;
  text-align: center;
  background: linear-gradient(90deg, #cff3ff -2.65%, #fff 111.95%);
}

.button-product {
  width: 121px;
  height: 30.821px;
  padding: 0;
  font-size: 11.708px;
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #a5e3f9, #1981a6);
  border-radius: 17.908px;
  border: none;
}

.button-product:hover{
  background: #ff955e;
}

.img-product-active {
  margin-top: 0;
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: all 1s;
}

.container-img-product-active {
  position: absolute;
  top: -12%;
  left: 44%;
  width: 200px;
  margin-bottom: 27px;
  margin-right: 15px;
}

.game-li{
  width: 154.144px;
  height: 33px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #064054;
  border: 2px solid #337c9d;
  border-radius: 16px;
}

.game-li:hover{
  color: #337c90;
  background-color: #fff;
}

.game-li-active{
  color: #337c90;
  background-color: #fff;
}

.button-game {
  width: 210px;
  height: 33px;
  padding: 0;
  color: #fff;
  font-size: 20px;
  background: linear-gradient(to bottom, #a5e3f9, #1981a6);
  border-radius: 16px;
  border: none;
}

.instruction {
  position: relative;
  display: inline-block !important;
  vertical-align: top;
  height: 204px;
  text-align: center;
  background-position: center top;
  background-repeat: no-repeat;
}

.detail-instruction {
  display: block;
  height: 30px;
  color: #fff;
  font-size: 14.559px;
  line-height: 30px;
  background: linear-gradient(to top, #357e9f, #6bb0c8);
}

.section-header {
  height: 2px;
  margin: 32px auto;
  background-color: #6ea9be;
}

.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.footer-copyright {
  margin-top: 59px;
  padding-bottom: 16px;
  color: #1f607d;
  font-size: 22.581px;
  font-weight: 500;
  font-family: Inter;
  text-align: center;
}


.download-app {
  background: linear-gradient(0deg, #fff 16.25%, #cff3ff 56.87%, #fff 88.65%);
}

.download-app-title {
  font-family: Roboto;
}

.p-carousel .p-carousel-items .p-carousel-item {
  margin-right: 16px;
}

.p-carousel .p-carousel-items .p-carousel-item:last-child {
  margin-right: 0;
}

